    .button-subscribe{
        background-color : rgba(198, 4, 4, 0.956);
        color : white;
        border : none;
        height: 35px;
        width: 100px;
        border-radius: 2px;
        cursor : pointer;
        margin: 10px;
        transition: opacity 1s;
    }
    .button-subscribe:hover{
        opacity:0.8;
    }
    .button-subscribe:active{
        opacity:0.5;
    }
    .button-join{
        height : 35px;
        width: 60px;
        color : rgb(70, 70, 237);
        border-color: rgb(87, 87, 237);
        border-style: solid;
        border-radius: 2px;
        border-width: 1px;
        margin: 10px;
        cursor: pointer;
        transition: background-color 1s, color 1s;
    }
    .button-join:hover{
        background-color: rgb(87, 87, 237);
        color: white;
    }
    .button-join:active{
        opacity:0.6;
    }
    .button-tweet{
        height: 35px;
        width: 70px;
        color: white;
        background-color: rgb(15, 158, 236);
        border : none;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        transition: box-shadow 1s;
    }
    .button-tweet:hover{
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    }
    .button-tweet:active{
        opacity: 0.6;
    }