    .video-title{
        font-family: arial;
        font-style: italic;
        font-weight: bold;
        font-size: 21px;
        width:350px;
        margin-bottom: 5px;
    }
    .views{
        margin-top: 0px;
    }
    .desp{
        width: 300px;
        line-height: 20px;
    }
    .shop{
        background-color: rgb(227, 65, 64);
        color:white;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-top: 100px;
        text-align: center;
    }
    .shop-link:hover{
        text-decoration: underline;
        cursor: pointer;
    }